#titleRow{
	margin-top:30px;
}
#title{
	font-weight:bold;
}
#line{
	margin-top:2px;
	background-color:black;
	height:2px;
}
.formElement{
	margin-left:8px;
	margin-bottom:10px;
	margin-top:10px;
}
#sku, #price, #name{
	display:block;
}