#titleRow{
	margin-top:50px;
	
}
#title{
	font-weight:bold;
}
#line{
	margin-top:2px;
	background-color:black;
	height:2px;
}
.card-title, .card-text{
	text-align:center;
}
#deleteLabel{
	text-align:right;
}
